{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block content%}
    <main>
    <h1>Bus List</h1>
    <table border="1">
        <tr>
            <th>Bus ID</th>
            <th>Bus Number</th>
            <th>Driver Name</th>
            <th>Driver Contact</th>
            <th>Route</th>
            <th>Capacity</th>
            <th>available_seat</th>
            <th>Current location</th>
        </tr>
        {% for bus in buses %}
        <tr>
            <td>{{ bus.id }}</td>
            <td>{{ bus.bus_number }}</td>
            <td>{{ bus.driver.name }}</td>
            <td>{{ bus.driver.contact_number }}</td>
            <td>{{ bus.route}}</td>
            <td>{{ bus.capacity }}</td>
            <td>{{ bus.available_seats }}</td>
            <td>{{ bus.current_location }}</td>
        </tr>
        {% endfor %}
    </table>
    </main>
{%endblock content%}
</body>
</html>