
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>schedule List</h1>
    <table border="1">
      <tr>
        <th>id</th>
        <th>bus</th>
        <th>route</th>
        <th>departure time</th>
        <th>arrival time</th>
      </tr>
      {% for schedule in schedules %}
      <tr>
        <td>{{ schedule.id}}</td>
        <td>{{ schedule.bus}}</td>
        <td>{{ schedule.route}}</td>
        <td>{{ schedule.departure_time }}</td>
        <td>{{ schedule.arrival_time}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
